<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.creditpartner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
<!--    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.app.creditpartner.Classes.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher2"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.app.creditpartner.Activities.FuelRates"></activity>
        <activity android:name="com.app.creditpartner.Activities.GoldRates" />
        <activity
            android:name="com.app.creditpartner.Activities.RechargeActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.FirebaseActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity android:name="com.app.creditpartner.Activities.TextEditorActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.IncomeTaxCalculatorActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.NoticeToCustomerActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.MyOfferActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.IFSCCodeFinderActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.EMICalculatorActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.TaxInfoActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity android:name="com.app.creditpartner.Activities.SeletCategoryActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.ApplicationDetailsActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MyApplications" />
        <activity
            android:name="com.app.creditpartner.Activities.MyApplications"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.ApplyFormActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.TaxWebsiteActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.TaxesActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.AddAdsActivity"
            android:parentActivityName="com.app.creditpartner.Activities.AdsActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.AddUsersActivity"
            android:parentActivityName="com.app.creditpartner.Activities.UsersActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.AdsActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity android:name="com.app.creditpartner.Activities.AdDetailsActiviy" />
        <activity
            android:name="com.app.creditpartner.Activities.UsersActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.UsersAccountActivity"
            android:parentActivityName="com.app.creditpartner.Activities.UsersActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.ProductsActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.BannerActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.creditpartner.Activities.DynamicAddActivity"
            android:parentActivityName="com.app.creditpartner.Activities.AddAdminsActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.AddExpenseActivity"
            android:parentActivityName="com.app.creditpartner.Activities.PaisaTrackerActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.AddAdminsActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.PaisaTrackerActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity android:name="com.app.creditpartner.Activities.CompanyFormActivity" />
        <activity android:name="com.app.creditpartner.Activities.CreditReportActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity"/>
        <activity
            android:name="com.app.creditpartner.Activities.ReferAndEarnActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.AddCompanyActivity"
            android:parentActivityName="com.app.creditpartner.Activities.ProductDetailActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.CompanyWebsiteActivity"
            android:parentActivityName="com.app.creditpartner.Activities.ProductDetailActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.MyAccountActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity
            android:name="com.app.creditpartner.Activities.ProductDetailActivity"
            android:parentActivityName="com.app.creditpartner.Activities.MainActivity" />
        <activity android:name="com.app.creditpartner.Activities.LoginActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.app.creditpartner.Activities.VerifyInfoActivity" />
        <activity android:name="com.app.creditpartner.Activities.MainActivity" />
        <activity android:name="com.app.creditpartner.Activities.CustomerInfoActivity"
            android:windowSoftInputMode="adjustNothing"/>


        <service android:name="com.app.creditpartner.Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.app.creditpartner.Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>